<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<title>Car Database</title>
    </head>
    <body>
        <div class="container">
           <h1>Car Database</h1>
           <h2>Car list of registered cars</h2>
           <p>Here are the basic specifications of all cars present in the database:</p>
            <table>
                {% for car in cars %}
                <tr class="cars">
                    <th>Car ID</th>
                    <td>{{car.id}}</td>
                </tr>
                <tr>
                    <th>License Plate</th>
                    <td>{{car.registration_id}}</td>
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{car.brand}}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{car.model}}</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td>{{car.version}}</td>
                </tr>
                <tr>
                    <th>Fuel Type</th>
                    <td>{{car.fuel_type}}</td>
                </tr>
                <tr>
                    <th>Model Year</th>
                    <td>{{car.model_year}}</td>
                </tr>
                <tr>
                    <th>Engine Power</th>
                    <td>{{car.engine_power}}</td>
                </tr>
                <tr>
                    <th>Fuel Efficiency</th>
                    <td>{{car.fuel_efficiency}}</td>
                </tr>
                <tr>
                    <th>Top Speed</th>
                    <td>{{car.top_speed}}</td>
                </tr>
                <tr>
                    <th>Engine Cylinders</th>
                    <td>{{car.engine_cylinders}}</td>
                </tr>
                <tr>
                    <th>Number of doors</th>
                    <td>{{car.doors}}</td>
                </tr>
                <tr>
                    <th>Number of seats</th>
                    <td>{{car.minimum_seats}}</td>
                </tr>
                <tr>
                    <th>Axles</th>
                    <td>{{car.axles}}</td>
                </tr>
                <tr>
                    <th>Drive Axles</th>
                    <td>{{car.drive_axles}}</td>
                </tr>
                <tr>
                </tr>
                {% endfor %}
            </table>
            <br>
            <p>Click <a href="{{url_for('find')}}">here</a> to find a car.</p>
            <br>
            <p>Click <a href="{{url_for('home')}}">here</a> to go to the index page.</p>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    </body>
</html>