<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<title>Car specifications (manual input)</title>
    </head>
    <body>
        <h1>Car specifications (manual input)</h1>
        <div class="container">
            <table width="50%">
                <tr>
                    <th>Car ID</th>
                    <td>AB12345</td>
                </tr>
                <tr>
                    <th>License Plate</th>
                    <td>AB12345</td>
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>RENAULT</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>Captur</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td>dCi 90</td>
                </tr>
                <tr>
                    <th>Fuel Type</th>
                    <td>Diesel</td>
                </tr>
                <tr>
                    <th>Model Year</th>
                    <td>2013</td>
                </tr>
                <tr>
                    <th>Engine Power</th>
                    <td>66</td>
                </tr>
                <tr>
                    <th>Fuel Efficiency</th>
                    <td>27.8</td>
                </tr>
                <tr>
                    <th>Engine Cylinders</th>
                    <td>4</td>
                </tr>
                <tr>
                    <th>Top Speed</th>
                    <td>171</td>
                </tr>
                <tr>
                    <th>Number of doors</th>
                    <td>4</td>
                </tr>
                <tr>
                    <th>Number of seats</th>
                    <td>5</td>
                </tr>
                <tr>
                    <th>Axles</th>
                    <td>2</td>
                </tr>
                <tr>
                    <th>Drive Axles</th>
                    <td>1</td>
                </tr>
            </table>
            <br>
            <p>Click <a href="/cars">here</a> to see all cars.</p>
            <br>
            <p>Click <a href={{url_for('home')}}>here</a> to go to the index page.</p>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    </body>
</html>