<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<title>Login</title>
	</head>
	<body>
		<div class="container">
			<h1>Welcome to the Car App!</h1>
			<br>
            <p>Nothing breaks so far... Click <a href="/2">here</a></p>
            <br>
            <p>Click <a href="/logout">here</a> to logout.</p>
		</div>
		{% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
	</body>
</html>