<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<title>Index</title>
	</head>
	<body>
		<div class="container">
			<h1>Welcome to the Index</h1>
			<br>
            <p>Click <a href="/find">here</a> to find a car</p>
			<br>
            <p>Click <a href="/dummycar">here</a> to see a dummy car</p>
			<br>
            <p>Click <a href="/cars">here</a> to see some more cars</p>
            <br>
            <p>Click <a href="/logout">here</a> to logout</p>
		</div>
		{% for message in get_flashed_messages() %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
	</body>
</html>