<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

		<title>Find car</title>
	</head>
	<body>
		<div class="car">
		    <h1>Find a Car</h1>
		    <div class="links">
    			<a href="{{ url_for('home') }}">Index</a>
				<a href="{{ url_for('list') }}">See All</a>
	        </div>
			<form action="{{ url_for('fcar') }}" method="POST">
			    <label for="car">
					<i class="fas fa-car"></i>
				</label>
			    <input type="text" name="plate" placeholder= "License Plate" id="plate" required>
			    <input type="submit" value="Search!">
			</form>
		</div>
		{% if error %}
            <div class="error">
                Error:{{ error }}
            </div>
        {% endif %}
        {% for message in get_flashed_messages() %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
	</body>
</html>